<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="user_top">
      <div class="avatar inline-block">
        <%= image_tag user_picture(@user), class: "img-circle pic-middle" %>
        <strong class="user_name"><%= @user.username%></strong>
      </div>
    </div>

    <div class="">
      <span><i class="fa fa-users" aria-hidden="true"></i><%= link_to "Create Group", new_room_path %></span>
      <h3>Your Groups</h3>
      <% unless @rooms.blank? %>
        <% @rooms.each do |room| %>
          <div class="user_top">
            <%= link_to room do %>
              <span class="avatar inline_block">
                <%= image_tag room.image, class: "img-circle pic-middle" %>
                <strong class="user_name"><%= "#{room.name} (#{room.users.length})" %></strong>
                <% unless current_user.user_rooms.find_by(room_id: room.id) %>
                  <%= link_to "Join", room_user_rooms_path(room), method: :post %>
                <% end %>
              </span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="">
      <h3>Friends</h3>
      <% unless @users.blank? %>
        <%= render @users %>
      <% end %>
    </div>
  </div>
</div>
