<% unless room.messages.blank? %>
  <%= link_to room_path(room) do %>
    <div class="conversation table_cell">
      <div class="avatar inline-block">
        <%= image_tag room.image, class: "img-circle pic-middle" %>
      </div>
      <div class="message_info inline-block">
        <span class="username"><%= room.name %></span>
        <span class="timestamp "><%= room.messages.last.sent_time %></span>
        <div class="content">
          <%= room.messages.last.content %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
